<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/homepage.css">
    <link rel="stylesheet" type="text/css" href="../css/signup.css">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <title>Sign Up - Meme App</title>
</head>

<body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Meme Your School</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/signin"><span class="glyphicon glyphicon-menu-right"></span> Sign In</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Body -->
		<div class="container">
			<div class="row main">
                <div class="panel-heading">
                    <div class="panel-title text-center">
                        <h1 class="title">CREATE A NEW ACCOUNT</h1>
                        <!-- <hr /> --><!--a white line-->
                    </div>
                </div>

				<div class="main-login main-center">
					<form class="form-horizontal" method="post" action="#">

						<div class="form-group">
							<!-- <label for="username" class="cols-sm-2 control-label">Username</label> -->
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="username" id="username" placeholder="Username"
                                    oninvalid="this.setCustomValidity('Username is required')"
                                    oninput="setCustomValidity('')" required/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<!-- <label for="password" class="cols-sm-2 control-label">Password</label> -->
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
									<input type="password" pattern="^\S{6,}$" class="form-control" name="password" id="password" placeholder="Password"
                                    oninvalid="pwd(this)"
                                    oninput="pwd(this)"
                                    required/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<!-- <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label> -->
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="confirm" id="confirm" placeholder="Confirm Password"
                                    oninvalid="match(this)"
                                    oninput="match(this)" required/>
								</div>
							</div>
						</div>

                        <div class="form-group">
                            <!-- <label for="confirm" class="cols-sm-2 control-label">Email</label> -->
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></span>
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Email Address"
                                    oninvalid="this.setCustomValidity('Email is required')"
                                    oninput="setCustomValidity('')"required/>
                                </div>
                                <small id="email-help" class="form-text text-muted">Only used to retrieve password</small>
                            </div>
                        </div>

						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-lg btn-block login-button">Sign Up</button>
						</div>
						<div class="login-register">
				            <a href="signin">Already a member? Sign in here</a>
				         </div>
					</form>
				</div>

			</div>
		</div>

        <script language='javascript' type='text/javascript'>
            function match(input) {
                if (input.value != document.getElementById('password').value) {
                    input.setCustomValidity('Password Must be Matching.');
                } else {
                    input.setCustomValidity('');
                }
            }
            function pwd(input) {
                if (input.value.includes(" ")) {
                    input.setCustomValidity('Must not contain spaces.');
                } else if (input.value.length < 6) {
                    input.setCustomValidity('Minimum length is 6 characters.');
                } else {
                    input.setCustomValidity('');
                }
            }
        </script>

</body>
</html>
